$font-weight-thin: 400;
$font-weight-regular: 500;
$font-weight-bold: 600;

$grid-columns:      12;
$grid-gutter-width: 30px;

$xs-screen: 540px;
$sm-screen: 540px;
$md-screen: 720px;
$lg-screen: 960px;
$xl-screen: 1140px;

$BurntSienna: #EB5757;
$JungleGreen: #27AE60;
$RoyalBlue: #2F80ED;
$SummerSky:#2D9CDB;
$SeaBuckthorn: #F2994A;
$tiaMaria: #D54215;






